In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
x = df.iloc[:, 3 : -1].values
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [13]:
y = df.iloc[:,-1].values
y

array([1, 0, 1, ..., 1, 1, 0])

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:, 2] = le.fit_transform(x[:,2])
x

array([[1.0, 0.0, 1, ..., 1, 1, 101348.88],
       [1.0, 0.0, 0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 1, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 1, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 1, ..., 1, 0, 38190.78]], dtype=object)

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))
x

array([[1.0, 0.0, 1.0, ..., 1, 1, 101348.88],
       [1.0, 0.0, 0.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 1.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 1.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 1.0, ..., 1, 0, 38190.78]], dtype=object)

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)
import tensorflow as tf

In [35]:
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

ann.fit(xtrain,ytrain,batch_size=2,epochs=10)

Epoch 1/10
4000/4000 [==============================] - 13s 3ms/step - loss: 0.4593 - accuracy: 0.7986
Epoch 2/10
4000/4000 [==============================] - 8s 2ms/step - loss: 0.4090 - accuracy: 0.8211
Epoch 3/10
4000/4000 [==============================] - 10s 2ms/step - loss: 0.3735 - accuracy: 0.8447
Epoch 4/10
4000/4000 [==============================] - 7s 2ms/step - loss: 0.3565 - accuracy: 0.8521
Epoch 5/10
4000/4000 [==============================] - 9s 2ms/step - loss: 0.3497 - accuracy: 0.8553
Epoch 6/10
4000/4000 [==============================] - 9s 2ms/step - loss: 0.3472 - accuracy: 0.8566
Epoch 7/10
4000/4000 [==============================] - 7s 2ms/step - loss: 0.3448 - accuracy: 0.8564
Epoch 8/10
4000/4000 [==============================] - 7s 2ms/step - loss: 0.3425 - accuracy: 0.8576
Epoch 9/10
4000/4000 [==============================] - 10s 2ms/step - loss: 0.3417 - accuracy: 0.8606
Epoch 10/10
4000/4000 [==============================] - 8s 2ms/step - loss: 0.3405 - accuracy: 0.8586

In [37]:
ypred = ann.predict(xtest)
ypred = (ypred > 0.5)
print(np.concatenate((ypred.reshape(len(ypred),1), ytest.reshape(len(ytest),1)),1))

63/63 [==============================] - 1s 8ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [39]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(ytest,ypred)
print(cm)
accuracy_score(ytest,ypred)

[[1500   95]
 [ 189  216]]

0.858